@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />

<div class="profile-container">
    <div class="profile-card">
        <div class="profile-content">
            
            <div class="profile-logo">
                <img src="~/Content/profile.jpg" alt="Profile Logo" />
            </div>
        </div>
        <div class="profile-content">
            <main class="profile-main">
                <h3>@ViewData["Title"]</h3>
                <partial name="_StatusMessage" for="StatusMessage" />
                <form id="profile-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="form-floating mb-3">
                        <input asp-for="Username" class="form-control" placeholder="Username" disabled />
                        <label asp-for="Username">Username</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Phone Number" />
                        <label asp-for="Input.PhoneNumber">Phone Number</label>
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-custom">Save</button>
                </form>
            </main>
            <aside class="profile-sidebar">
                <h3>Manage your account</h3>
                <ul class="profile-nav">
                    <li><a asp-page="./Index" class="@ManageNavPages.IndexNavClass(ViewContext)">Profile</a></li>
                    <li><a asp-page="./Email" class="@ManageNavPages.EmailNavClass(ViewContext)">Email</a></li>
                    <li><a asp-page="./ChangePassword" class="@ManageNavPages.ChangePasswordNavClass(ViewContext)">Password</a></li>
                    <li><a asp-page="./PersonalData" class="@ManageNavPages.PersonalDataNavClass(ViewContext)">Personal data</a></li>
                </ul>
            </aside>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
