@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<head>
	<link href="~/css/register.css" rel="stylesheet" />
</head>

<div class="container">
    <div class="card">
        <div class="card-image">
            <h2 class="card-heading">
                Get started
                <small>Let us create your account</small>
            </h2>
        </div>

        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="card-form">
            <div class="input">
                <input asp-for="Input.FirstName" type="text" class="input-field" required />
                <label class="input-label">Full name</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="input">
                <input asp-for="Input.LastName" type="text" class="input-field" required />
                <label class="input-label">Last Name</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="input">
                <input asp-for="Input.Email" type="email" class="input-field"  required />
                <label class="input-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="input">
                <input asp-for="Input.Password" type="password" class="input-field" required />
                <label class="input-label">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="input">
                <input asp-for="Input.ConfirmPassword" type="password" class="input-field" required />
                <label class="input-label">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="action">
                <button id="registerSubmit" type="submit" class="action-button">Get Started</button>
            </div>
        </form>

        <div class="card-info">
            <p>By signing up you are agreeing to our <a href="#">Terms and Conditions</a></p>
        </div>

        @* <section> *@
        @*     <h3>Use another service to register.</h3> *@
        @*     <hr /> *@
        @*     @if ((Model.ExternalLogins?.Count ?? 0) == 0) *@
        @*     { *@
        @*         <div> *@
        @*             <p> *@
        @*                 There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article about setting up this ASP.NET application to support logging in via external services</a>. *@
        @*             </p> *@
        @*         </div> *@
        @*     } *@
        @*     else *@
        @*     { *@
        @*         <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal"> *@
        @*             <div> *@
        @*                 <p> *@
        @*                     @foreach (var provider in Model.ExternalLogins!) *@
        @*                     { *@
        @*                         <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button> *@
        @*                     } *@
        @*                 </p> *@
        @*             </div> *@
        @*         </form> *@
        @*     } *@
        @* </section> *@
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
